<h1>Desafío 6 - Estrategias de autenticación</h1>
<h2>Autenticacion y autorización con Bcrypt, passport y Github.</h2>
<div id="login-form">

  <button>
    <a href="/login">
      Iniciar sesion
    </a></button>

  <button>
    <a href="/session/github">
      Entrar con Github
    </a></button>

  <button>
    <a href="/register">
      Registrarse
    </a></button>

</div>