<div>
  <div class="containerForm">

    <input type="email" placeholder="Correo" name="email" id="email" />
    <input
      type="password"
      placeholder="Contraseña"
      name="password"
      id="password"
    />
    <a href="/api/sessions/github"><button class="btn btn-success">Entrar con
        GITHUB</button></a>
    <a href="/api/registro" class="btn btn-info">Registrarse</a>
    <button id="send" class="btn btn-primary">Enviar</button>
  </div>

</div>